<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernte Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/master?autoReconect=true</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
			
		<property name="connection.pool_size">10</property>
		
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<property name="current_session_context_class">thread</property>
		
		<property name="show_sql">true</property>
		
		<!-- <property name="hibernate.hbm2dll.auto">create</property> -->
		
		<mapping class="com.majeurProjet.metier.HistoricalComputer"/>
		<mapping class="com.majeurProjet.metier.HistoricalIncident"/>
		<mapping class="com.majeurProjet.metier.Incident"/>
		<mapping class="com.majeurProjet.metier.State"/>
		<mapping class="com.majeurProjet.metier.Computer"/>
		<mapping class="com.majeurProjet.metier.ComputerData"/>
		<mapping class="com.majeurProjet.metier.Room"/>
		<mapping class="com.majeurProjet.metier.Role"/>
		<mapping class="com.majeurProjet.metier.User"/>
	</session-factory>
</hibernate-configuration>